
id = "database-devops-autopilot-training"
name = "Database DevOps AutoPilot Training"
databaseType = "SqlServer"

[environments.development]
url = "jdbc:sqlserver://${env.AZURE_SQL_SERVER}.database.windows.net:1433;databaseName=${env.FLYWAY_DEV_DATABASE};encrypt=true;trustServerCertificate=false"
user = "${env.AZURE_SQL_USER}"
password = "${env.AZURE_SQL_PASSWORD}"
displayName = "Development database"

[environments.uat]
url = "jdbc:sqlserver://${env.AZURE_SQL_SERVER}.database.windows.net:1433;databaseName=${env.FLYWAY_UAT_DATABASE};encrypt=true;trustServerCertificate=false"
user = "${env.AZURE_SQL_USER}"
password = "${env.AZURE_SQL_PASSWORD}"
displayName = "UAT (User Acceptance Testing) database"

[flyway]
locations = [ "filesystem:migrations" ]
mixed = true
outOfOrder = true
validateMigrationNaming = true
defaultSchema = "Customers"
baselineOnMigrate = true
baselineVersion = "001"
errorOverrides = [ "S0001:0:I-" ]

[flyway.sqlserver.clean]
mode = "all"

[flyway.sqlserver.clean.schemas]
exclude = [ "ExampleSchema1", "ExampleSchema2" ]

[flywayDesktop]
developmentEnvironment = "development"